body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
  }
  
  .header {
    padding: 0 45px;
    background-color: #283593;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .nav a {
    color: #FFF;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-out;
  }
  
  .nav a:hover {
    color: #c5cae9;
    transform: rotate(6deg);
  }
  
  .nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav li {
    margin-left: 20px;
  }

  .sandbox {
    background-color: #c5cae9;
    padding: 45px 45px;
    display: flex;
    justify-content: center;
  }
  
  .sandbox-inner {
    max-width: 760px;
  }
  
  .sandbox h1 {
    font-weight: normal;
    font-size: 3rem;
    margin: 0;
  }
  
  .sandbox p {
    font-size: 1.18rem;
    line-height: 1.6;
  }

  .pages {
    background-color: #e8eaf6;
    padding: 60px 45px;
  }
  
  .pages-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 45px;
    grid-row-gap: 45px;
  }
  
  .pages-item h3 {
    color: #283593;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
  }
  
  .pages-item p {
    /* margin: 0; */
    line-height: 1.6;
  }

  .pages-item a {
    background-color: #3949ab;
    color: #FFF;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.18rem;
    display: inline-table;
  }
  .pages-item a:hover {
    color: #c5cae9;
  }
